
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:  #209041 #032b2c ;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  background: #209041;
}

*::-webkit-scrollbar-thumb {
  background-color: #032b2c;
  border-radius: 30px;
  border: 2px solid #209041;
}